@import "./reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/light";

.app {
    font: var(--font-m);
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.page-content {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 16px;
}

.reset-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.reset-li {
    margin: 0;
    padding: 0;
}

.empty-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height:  16px;
}
