:root,
.dark {
    --bg-color: rgba(2, 43, 58, 1);
    --inverted-bg-color: rgba(204, 197, 185, 1);

    --primary-color: rgba(31, 122, 140, 1);
    --secondary-color: rgba(191, 219, 247, 1);

    --inverted-primary-color: rgba(64, 61, 57, 1);
    --inverted-secondary-color: rgba(255, 252, 242, 1);
}
