.AppButton {
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--inverted-bg-color);
}

.clear {
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
}
